<div>
  <div>
    <input [(ngModel)]="inputValue">
    <button 
      (click)="onSave()"
      class="btn btn-default">Save</button>
  </div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let entry of entries; index as i">
      <span (click)="onEdit(i)">{{entry}}</span>
      <button class="btn btn-default"
       (click)="onDelete(i)">&times;</button>
    </li>
  </ul>
</div>
